
body{
    margin: 0;
    padding: 5% 10%;
    
}
.container
{
 background: white;
 margin:  auto;
 display: flex;
 justify-items: center;
}

.container .left
{
   width: 50%;
   height: 400px;
   box-sizing: border-box;
}
.container .right
{
   width: 50%;
   height: 402px;
   background: url(images/blm.png)
}

.select {
    padding: 10px;
    height: 1p;
    margin-top: 10%;
}


img {
    height: 100px;
    margin-left: 0px;
}
.forget-pass{
    margin-top: 15px;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    color: royalblue;
}
.submit {
    width: 55%;
    height: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    background: blue;
    margin-top: 5px;
}
.w-60 {
    padding: 10px;
    width: 55%;
}
.terms{
    margin-top: 15px;
    text-align: right;
    font-size: 12px;
    font-weight: 600;
    float: center;
}
.box {
    clear: both;
    padding-top: 10px;
}